{% extends 'base.html.twig' %}

{% block body %}
	{% if trajets is not empty %}
		<table class="table text-center">
			<tr>
				<th class="active text-center">Lieu départ</th>
				<th class="active text-center">Lieu arrivé</th>
				<th class="active text-center">Date départ</th>
				<th class="active text-center">Date arrivé</th>
				<th class="active text-center">prix</th>
				<th class="active text-center"></th>
			</tr>
			{% if trajets |length >0 %}
				{% for trajet in trajets %}
					<tr>
						<td>
							{{ trajet.lieuDepart }}
						</td>
						<td>
							{{ trajet.lieuArrive }}
						</td>
						<td>
							{{ trajet.dateDepart.format('Y-m-d H:i:s') }}
						</td>
						<td>
							{{ trajet.dateArrive.format('Y-m-d H:i:s') }}
						</td>
						<td>
							<a href="{{ path('trajet.show', {id: trajet.id}) }}">
								<div style="height:100%;width:100%">{{ trajet.prix }}</div>
							</a>
						</td>
						<td>
							<a href="{{ path('trajet.show', {id: trajet.id}) }}" class="btn btn-info ">
								<i class="fas fa-edit"></i>
								Plus de détail</a>
						</td>
					</tr>
				{% endfor %}
			{% else %}
				<h1>Aucun Trajet Disponible pour votre Recherche</h1>
			{% endif %}
		</table>
	{% else %}
		<h1>
			Pas encore d'annonce disponible selon vos critères de recherche
		</h1>
		<a href="{{ path('trajet.search') }}" class="btn btn-primary">
			<p>
				Retour à la recherche
			</p>
		</a>

	{% endif %}
{% endblock %}
